footer{
    background: $DarkBlue;
    color: $White;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    #company{
        flex: 2;
        display: flex;
        #social{
            display: flex;
            flex-direction: column;
            width: 30%;

            ul{
                margin-top: 40px;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                li{
                    margin-right: 20px;
                }
            }
        }
        #navigation{
            width: 40%;
            display: flex;
            justify-content: space-between;
            li{
                margin: 10px 0px;
            }
        }
    }

    #copyright{
        text-align: right;

        span{
            display: block;
            margin-top: 30px;;
        }
    }
}