footer{
    background: $DarkBlue;
    color: $White;
    font-size: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    
    #company{
        flex: 2;
        display: flex;
        align-items: center;
        #social{
            display: flex;
            flex-direction: column;
            width: 30%;

            ul{
                margin-top: 40px;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                li{
                    margin-right: 20px;

                    a:hover{
                        svg{
                            path{
                                fill: $LimeGreen;
                            }
                        }
                    }
                }
            }
        }
        #navigation{
            width: 40%;
            display: flex;
            justify-content: space-between;
            li{
                margin: 15px 0px;

                a:hover{
                    color: $LimeGreen;
                }
            }
        }
    }

    #copyright{
        text-align: right;

        span{
            display: block;
            margin-top: 30px;;
        }
    }
}

@media (max-width:1004px){
    footer{
        text-align: center;
        justify-content: center;
        flex-direction: column;
        
        #company{
            align-items: center;
            justify-content: center;
            flex-direction: column;
            #social{
                flex-direction: column;
                width: 100%;
    
                ul{
                    margin-top: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    li{
                        a:hover{
                            svg{
                                path{
                                    fill: $LimeGreen;
                                }
                            }
                        }
                    }
                }
            }
            #navigation{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 30px 0px;
                li{
                    margin: 0px 0px;
                    margin-bottom: 15px;
    
                    a:hover{
                        color: $LimeGreen;
                    }
                }
            }
        }
    
        #copyright{
            text-align: center;
    
            span{
                margin-top: 30px;
            }
        }
    }
    
    
}