@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

$DarkBlue: hsl(233, 26%, 24%);
$LimeGreen: hsl(136, 65%, 51%);
$BrightCyan: hsl(192, 70%, 51%);

$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    // user-select: none;
}

body{
    font-size: 17px;
    background: $VeryLightGray;
    width: 100%;
    color: $DarkBlue;
    overflow-x: hidden;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    margin: 20px 0px;
    color: $GrayishBlue;
    line-height: 22px;
}
span{
    color: $GrayishBlue;
}
h1, h2, h3, h4, h5{
    font-weight: 400;
}

section{
    padding: 70px 6%;
}
@media (max-width:900px){
    body{
        font-size: 17px;
    }
}