header{
    background: $White;
    padding: 20px 6%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul{
            display: flex;

            li{
                margin:0px 10px;

                a{
                    color: hsl(233, 8%, 62%);
                }
            }
        }
    }
}