header{
    background: $White;
    padding: 20px 6%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav{
        ul{
            display: flex;

            li{
                margin:0px 10px;
                border: none;

                a{
                    color: $GrayishBlue;
                    padding: 20px 0px;
                    position: relative;

                    &:hover{
                        &::before{
                            content: "";
                            position: absolute;
                            right: 0; 
                            bottom: -10px;
                            width: 100%;
                            height: 8px;
                            z-index: -1;
                            // border-radius: 10px;
                            background: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%)) ;
                        }
                    }
                }
            }
        }
    }

    #menu-bar{
        display: none;
    }
}



@media (max-width:900px){
    header{
        #invite{
            display: none;
        }
    
        nav{
            position: fixed;
            top: 63px;
            left: 0px;
            background: rgba(0, 0, 0, 0.8);
            width: 100%;
            height: 100vh;
            padding: 10%;
    
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                background: $White;
                width: 90%;
                margin: 0px auto;
                padding: 20px;

                li{
                    margin:10px 0px;
                    border: none;
    
                    a{
                        color: $DarkBlue;
                        padding: 15px 30px;
                        font-size: 16px;
                        font-weight: 700;
                    }
                }
            }
        }

        #menu-bar{
            display: block;
        }
    }
    
}