#latest{
    #container{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;

        .box{
            width: 23%;
            background-color: $White;
            border-radius: 10px;
            overflow: hidden;
            // border: 1px solid gray;
            img{
                width: 100%;
                height: 50%;
                object-fit: cover;
            }
            div{
                padding: 20px;
                span{
                   font-size: 13px;
                }
                h4{
                    margin: 15px 0px;
                }
                p{
                    font-size: 15px;
                    margin: 0;
                    
                }
            }
        }
    }
}