#welcome{
    padding: 0px 6%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;

    div{
        width: 40%;
        
        h1{
            font-weight: 300;
            font-size: 60px;
        }

        .invite{
            margin-top: 20px;
        }
    }
}


@media (max-width:900px){
    #welcome{
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        min-height: 60vh;
        margin-top: 0px;


        div{
            width: 100%;
            margin-top: 40px;
            
            h1{
                font-weight: 400;
                font-size: 40px;
            }
        }
    }
}
