#why-us{
    background: $LightGrayishBlue;
    p{
        width: 50%;
    }

    .container{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .box{
            // border: 1px solid gray;
            width: 23%;
            h3{
                margin: 20px 0px;
            }
            p{
                font-size: 15px;
                width: 100%;
                margin: 0;
            }
        }
    }
}



@media (max-width:1024px){
    #why-us{
        text-align: center;
        h2{
        }
        p{
            width: 100%;
        }
    
        .container{
            justify-content: space-between;

    
            .box{
                // border: 1px solid gray;
                width: 48%;
                margin-bottom: 30px;
            }
        }
    }
    
}
@media (max-width:586px){
    #why-us{
        .container{
            justify-content: center;
    
            .box{
                // border: 1px solid gray;
                width: 100%;
            }
        }
    }
}