#why-us{
    background: $LightGrayishBlue;
    h2{
    }
    p{
        width: 50%;
    }

    #container{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;

        .box{
            flex: 1;
            // border: 1px solid gray;
            h3{
                margin: 20px 0px;
            }
            p{
                font-size: 15px;
                width: 100%;
                margin: 0;
            }
        }
    }
}