#why-us{
    background: $LightGrayishBlue;
    h2{
    }
    p{
        width: 50%;
    }

    .container{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;

        .box{
            // border: 1px solid gray;
            width: 23%;
            h3{
                margin: 20px 0px;
            }
            p{
                font-size: 15px;
                width: 100%;
                margin: 0;
            }
        }
    }
}

@media (max-width:900px){
    #why-us{
        text-align: center;
        h2{
        }
        p{
            width: 100%;
        }
    
        .container{
            margin-top: 50px;
            display: flex;
            justify-content: center;

            flex-direction: column;
    
            .box{
                // border: 1px solid gray;
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
}