@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;
}

body {
  font-size: 17px;
  background: #fafafa;
  width: 100%;
  color: #2d314d;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 20px 0px;
  color: #9698a6;
  line-height: 22px;
}

span {
  color: #9698a6;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

section, footer {
  padding: 70px 6%;
}

@media (max-width: 900px) {
  body {
    font-size: 17px;
  }
}

header {
  background: white;
  padding: 20px 6%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  margin: 0px 10px;
}

header nav ul li a {
  color: #9698a6;
}

#why-us {
  background: #f3f4f6;
}

#why-us p {
  width: 50%;
}

#why-us #container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#why-us #container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#why-us #container .box h3 {
  margin: 20px 0px;
}

#why-us #container .box p {
  font-size: 15px;
  width: 100%;
  margin: 0;
}

#latest #container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#latest #container .box {
  width: 23%;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

#latest #container .box img {
  width: 100%;
}

#latest #container .box div {
  padding: 20px;
}

#latest #container .box div span {
  font-size: 13px;
}

#latest #container .box div h4 {
  margin: 15px 0px;
}

#latest #container .box div p {
  font-size: 15px;
  margin: 0;
}

footer {
  background: #2d314d;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #company {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer #company #social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

footer #company #social ul {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer #company #social ul li {
  margin-right: 20px;
}

footer #company #navigation {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer #company #navigation li {
  margin: 10px 0px;
}

footer #copyright {
  text-align: right;
}

footer #copyright span {
  display: block;
  margin-top: 30px;
}

#bg-image {
  position: absolute;
  top: 0;
  right: -180px;
  z-index: 1;
  width: 60%;
}

main {
  padding: 0px 6%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main div {
  width: 40%;
}

main div h1 {
  font-weight: 300;
  font-size: 60px;
}

#invite {
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(left, #31d35c, #2bb7da);
  padding: 10px 30px;
  border-radius: 20px;
  color: white;
  display: inline-block;
}
/*# sourceMappingURL=main.css.map */