@import "./general";
@import "./header";
@import "./why";
@import "./latest";
@import "./footer";

#bg-image-desktop{
    position: absolute;
    top: -110px;
    right: -180px;
    z-index: 1;
    width: 70%;
}
#bg-image-mobile{
    width: 100%;
    display: none;
}
#bg-mobile{
    position: absolute;
    top: 0;
    right: -100px;
    z-index: 1;
    width: 50%;
}
main{
    padding: 0px 6%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    div{
        width: 40%;
        // display: flex;
        // flex-direction: column;
        
        h1{
            font-weight: 300;
            font-size: 60px;
        }
    }
}
@media (max-width:900px){
    #bg-image-desktop{
        display: none;
    }
    #bg-image-mobile{
        width: 110%;
        display: block;
    }
    #bg-mobile{
        position: absolute;
        top: -20px;
        right: 0;
        width: 100%;
    }
    main{
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        min-height: 80vh;

        div{
            width: 100%;
            margin-top: 40px;
            
            h1{
                font-weight: 700;
                font-size: 40px;
            }
        }
    }
}

#invite{
    background: linear-gradient(left,hsl(136, 65%, 51%),hsl(192, 70%, 51%)) ;
    padding: 10px 30px;
    border-radius: 20px;
    color: $White;
    display: inline-block;
}

#invite:hover{
    opacity: .6;
}
img{
    pointer-events: none;
}