@import "./general";
@import "./header";
@import "./welcome";
@import "./why";
@import "./latest";
@import "./footer";

#bg-image-desktop{
    position: absolute;
    top: -110px;
    right: -180px;
    z-index: 1;
    width: 70%;
}
#bg-image-mobile{
    width: 100%;
    display: none;
}
#bg-mobile{
    position: absolute;
    top: 0;
    right: -100px;
    z-index: 1;
    width: 50%;
}

.attribution{
    background-color: $White;
    text-align: center;
    padding: 15px 5%;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  
    ul{
      display: flex;
      align-items: center;
      justify-content: center;
  
      li{
        margin: 0px 10px;
        a{
          font-size: 16px;
          i{
            font-size: 25px;
          }
        }
      }
    }
  
    p{
        margin: 10px;
      a{
        font-weight: bold;
        color: $DarkBlue;
      }
    }
}
.invite{
    background: linear-gradient(left,hsl(136, 65%, 51%),hsl(192, 70%, 51%)) ;
    padding: 12px 30px;
    border-radius: 20px;
    color: $White;
    display: inline-block;
}

.invite:hover{
    opacity: .6;
}
img{
    pointer-events: none;
}


@media (max-width:900px){
    #bg-image-desktop{
        display: none;
    }
    #bg-image-mobile{
        width: 100%;
        display: block;
    }
    #bg-mobile{
        position: absolute;
        top: -20px;
        right: 0;
        width: 100%;
    }
}
