@import "./general";
@import "./header";
@import "./why";
@import "./latest";
@import "./footer";

#bg-image{
    position: absolute;
    top: 0;
    right: -180px;
    z-index: 1;
    width: 60%;
    // // background: rgb(207, 207, 207);
    // background-image: url("../images/bg-intro-desktop.svg");
    // background-repeat: no-repeat;
    // background-position:center ;
    // background-size: cover;
    // // width: 50%;

    // img{
    //     width: 70%;
    //     position: relative;
    //     right: -150px;
    // }
}
main{
    padding: 0px 6%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    div{
        width: 40%;
        // display: flex;
        // flex-direction: column;
        
        h1{
            font-weight: 300;
            font-size: 60px;
        }
    }
}

#invite{
    background: linear-gradient(left,hsl(136, 65%, 51%),hsl(192, 70%, 51%)) ;
    padding: 10px 30px;
    border-radius: 20px;
    color: $White;
    display: inline-block;
}